/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$peach1: #F1E1DE;
$peach2: #E4C1BB;
$peach3: #DBADA5;
$peach4: #DD968C;
$mint1: #F4F7F3;
$mint2: #E9F0E8;
$mint3: #D4E0D1;
$mint4: #C5D9C4;
$navy1: #A5ADBA;
$navy2: #778597;
$navy3: #4A5C75;
$navy4: #183355;