/* =============
    Banner
============= */

.banner{
    background-color: $peach4;

    text-align: left;

    .content{
        display: flex;
        padding: 0px;
        


    .Banner-1{
        color: white;
    }
    .Banner-2{
        color: $navy3;
    }
}
}