/* =============
    Banner
============= */

.banner{
    display:grid;

    .content{

    .Banner-1{
        background-color: $peach4;
    }
    .Banner-2{
        background-color: $peach2;
    }
}
}