/* =============
    Divider
============= */

.divider{
    .content{
        display:grid;
        grid-template-columns: 50% 50%;
        gap: 16px;

        @include md {
            grid-template-columns: 100%;
        }

        .subcontent {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: none;
        }
    }
}