/* =============
    Footer
============= */
footer .content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "";
}
footer .content img {
  grid-area: logo;
}
footer .content h3 {
  grid-area: copyright;
}
footer .content p {
  grid-area: josh;
}
